.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 1568px) {
  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
  }
}
